<template>

    <!-- Todo List modal -->
    <template if:true={openModal}>
        <c-task-list-modal list={selectedList}
        oncreatelist={handleModalSubmit} oncancelmodal={handleCloseListModal}></c-task-list-modal>
    </template>

    <!-- Task Lists -->
    <div class="container">
        <lightning-layout>
        <template for:each={taskLists} for:item="taskList">
            <c-task-list key={taskList.taskListId} list-name={taskList.listName} task-list={taskList.taskList}
            task-list-id={taskList.taskListId} onlistitemdrag={handleListItemDrag} onsubmitmodal={handleSubmitModal}
            onitemdrop={handleItemDrop} oncreatetask={handleCreateTask} ondeletetask={handleDeleteTask}
            ondeletelist={handleDeleteList}></c-task-list>
        </template>

        <!-- Add List Button -->
        <lightning-layout-item padding="around-small">
            <div>
                <lightning-button-icon icon-name="action:new" variant="brand" alternative-text="Add Todo List" 
                title="Add Todo List" onclick={handleCreateListModal}></lightning-button-icon>
            </div>
        </lightning-layout-item>
        </lightning-layout>
    </div>
</template>