<template>
    <div class="demo-only" style="height: 640px;">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">

                <!-- Close Button -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse close-button" title="Close" onclick={handleClose}>
                        <lightning-icon icon-name="utility:close" size="medium">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>

                    <!-- Title -->
                    <h2 id="modal-heading-01" data-id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{title}</h2>
                </header>

                <!-- Body -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">

                    <!-- Edit Form -->
                    <template if:true={isEdit}>
                        <lightning-record-edit-form record-id={task.taskId} object-api-name={objectApiName}>
                            <lightning-messages></lightning-messages>
                            <!-- Fields -->
                            <template for:each={editFields} for:item="field">
                                <lightning-input-field key={field.fieldApiName} field-name={field.fieldApiName}></lightning-input-field>
                            </template>
                            <!-- Buttons -->
                            <lightning-button class="slds-m-top_small reset-button" label="Cancel" onclick={handleReset}></lightning-button>
                            <lightning-button class="slds-m-top_small submit-button" variant="brand" type="submit" name="update" label="Update"></lightning-button>
                        </lightning-record-edit-form>
                    </template>

                    <!-- Create Form -->
                    <template if:true={isCreate}>
                        <lightning-record-edit-form object-api-name={objectApiName}>
                            <lightning-messages></lightning-messages>
                            <!-- Fields -->
                            <template for:each={createFields} for:item="field">
                                <lightning-input-field key={field.name.fieldApiName} field-name={field.name.fieldApiName} value={field.value}></lightning-input-field>
                            </template>
                            <!-- Buttons -->
                            <lightning-button class="slds-m-top_small" label="Cancel" onclick={handleClose}></lightning-button>
                            <lightning-button class="slds-m-top_small" variant="brand" type="submit" name="save" label="Create New"></lightning-button>
                        </lightning-record-edit-form>
                    </template>

                    
                </div>

                <!-- Footer -->
                <!-- <footer class="slds-modal__footer">
                    <lightning-button label="Cancel" variant="neutral" onclick={closeModal}></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <lightning-button label="Save" variant="brand" onclick={saveMethod}></lightning-button>
                </footer> -->

            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>