<!-- Individual List -->
<template>

    <!-- Create Task modal -->
    <template if:true={openModal}>
        <c-task-modal mode='create' task-list-id={taskListId} task={placeholder} onsuccess={handleCreateModal} oncancelmodal={handleCloseModal}></c-task-modal>
    </template>

    <div class="container">
        <lightning-layout horizontal-align="center" multiple-rows="true">

            <!-- List Header -->
            <lightning-layout-item size="12" class="slds-p-right_small">
                <div class="page-section page-header">
                    <div class="slds-global-header slds-grid slds-grid_align-spread">
                        
                        <!-- List Name -->
                        <div class="slds-global-header__item">
                            {listName}
                        </div>
                        
                        <!-- Dropdown Menu -->
                        <div class="slds-p-around_medium lgc-bg">
                            <lightning-button-menu alternative-text="Show menu">
                                <lightning-menu-item value="DeleteTaskList" label="Delete" onclick={handleDeleteList}></lightning-menu-item>
                            </lightning-button-menu>
                        </div>

                    </div>
                </div>
            </lightning-layout-item>

            <!-- Task -->
            <template for:each={taskList} for:item="task">
                <lightning-layout-item key={task.taskId} size="12">
                    <c-task-card key={task.taskId} task={task} onitemdrag={handleItemDrag} onsubmitmodal={handleSubmitModal}
                    ondeletetask={handleDeleteTask} onitemdrop={handleItemDrop}></c-task-card>
                </lightning-layout-item>
        </template>

            <!-- Add Task Button -->
            <lightning-layout-item size="12" padding="around-small">
                <div class="slds-align_absolute-center">
                    <lightning-button-icon icon-name="utility:add" variant="bare" alternative-text="Add Todo Task" 
                    title="Add Todo Task" onclick={handleOpenModal}></lightning-button-icon>
                </div>
            </lightning-layout-item>

        </lightning-layout>
    </div>

</template>


