<template>
    <!-- Task Modal -->
    <template if:true={openModal}>
        <c-task-modal task={task} mode="edit" onsubmit={handleSubmitModal} oncancelmodal={handleCancelModal}></c-task-modal>
    </template>

    <div draggable="true" ondragstart={handleDragStart} onclick={handleOpenModal} class="task-spacer"
    ondragover={handleDragOver} ondrop={handleDrop}>
        <lightning-card  title={task.description}>
            <!-- Header -->
            <lightning-button-menu alternative-text="Show menu" slot="actions" onclick={handleDoNothing}> <!-- onclick prevents parent div's onclick-->
                <lightning-menu-item class="delete-button" value="Delete" label="Delete" onclick={handleDeleteTask}></lightning-menu-item>
                <lightning-menu-item value="MenuItemTwo" label="Archive"></lightning-menu-item>
            </lightning-button-menu>
        </lightning-card>
    </div>
</template>